<div class="navbar-inner">
  <div class="container">
    
    <%= link_to "Pollster", root_path, class: "brand" %>
    
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to "All Polls", polls_path %></li>
        <li><%= link_to "New Poll", new_poll_path %></li>
      </ul>
    </nav>
  </div>
</div>