<%= provide(:title, @poll.name) %>
<div class="hero-unit">
  <h1>Poll: <%= @poll.name %></h1>
</div>

<div class="row">
  <div class="span6">
    <p>public link: <%= link_to "#{request.host}:#{request.port.to_s}/polls/#{@poll.public_link}", poll_path(@poll.public_link) %></p>
  </div>
</div>

<h1>Questions:</h1>
<div class="row">

  <div class="span6">
    <ol>
    <% @poll.questions.each do |question| %>
      <li><%= question.inquiry %></li>
    <% end %>
    </ol>
  </div>
</div>